[Service]
ExecStart=/usr/bin/node /node/service/path
Restart=always
StandardOutput=syslog
SyslogIdentifier=node-service
User=jenkins
Group=jenkins
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
